@font-face {
  font-family: "PragmataPro";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/PragmataProR_liga_0830.woff2) format("woff2");
  font-display: block;
}

@font-face {
  font-family: "PragmataPro";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/PragmataProB_liga_0830.woff2) format("woff2");
  font-display: block;
}

@font-face {
  font-family: "PragmataPro";
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/PragmataProI_liga_0830.woff2) format("woff2");
  font-display: block;
}

@font-face {
  font-family: "PragmataPro";
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/PragmataProZ_liga_0830.woff2) format("woff2");
  font-display: block;
}

* {
  font-family: PragmataPro, monospace;
  text-align: center;
}

a,
a:visited {
  text-decoration: none;
  color: #ff0;
}

html {
  margin: 0.5em auto 0.5em auto;
  max-width: 60em;
  font-size: 10pt;
  color: #ccc;
  background-color: #222;
}

h1 > span {
  color: #888;
}

input,
button,
textarea {
  color: #fff;
  background-color: #111;
  border: 1px solid #ccc;
  font-size: 100%;
}

input[type=number] {
  width: 8em;
}

pre {
  text-align: left;
  width: 100%;
  margin: 1px auto 1px auto;
}

h1,
h2,
h3,
tt,
pre {
  color: #fff;
}

pre {
  background-color: #111;
  white-space: pre-wrap;
  display: inline-block;
}

footer {
  margin: 2em auto 0 auto;
  font-size: 80%;
}

table {
  margin: 0 auto 0 auto;
}

th,
td {
  border: 1px solid #ccc;
  vertical-align: top;
  padding: 0.5em;
}

dd,
dt,
li {
  text-align: left;
}

.fault {
  background-color: #f00;
  color: #fff;
}

th, td {
  padding: 1px;
  border: 1px solid #444;
}

.primitive {
  color: #88f;
}

.immediate::before {
  color: #88f;
  content: '()';
}

.num::before {
  color: #666;
}
.u64::before {
  content: '#u64 ';
}
.u32::before {
  content: '#u32 ';
}
.u16::before {
  content: '#u16 ';
}
.u8::before {
  content: '#u8 ';
}
.i64::before {
  content: '#i64 ';
}
.i32::before {
  content: '#i32 ';
}
.i16::before {
  content: '#i16 ';
}
.i8::before {
  content: '#i8 ';
}
.f64::before {
  content: '#f64 ';
}
.f32::before {
  content: '#f32 ';
}
.f16::before {
  content: '#f16 ';
}

.bool-true {
  color: #0f0;
}

.bool-false {
  color: #f00;
}

.str {
  border: 1px dotted #fff;
}

.bin {
  border: 1px dotted #f0f;
}
